body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center; 
    flex-direction: column; 
    background-image: url('https://i.gifer.com/3HeZ.gif');
}

h1 {
    color: #ffffff;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

input {
    width: 300px; 
    height: 40px; 
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}